body {
    margin:0;
    padding: 0;
    font-family:'BioRhyme', serif;
    background-color: black;
}

/*Header background*/
nav {
    position: fixed;
    top:0;
    left: 0%;
    width: 100%;
    height: 70px;
    padding: 10px 90px;
    box-sizing: border-box;
    background:rgba(0, 0, 0, 0.582);
    z-index: 100;
}

/*Essential Elegance title*/
nav .title {
    padding: 2px 2px;
    height: 70px;
    float:left;
    font-size: 23px;
    text-transform: uppercase;
    color:white;
    font-weight:bold;

}

.title a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;

}
nav ul li a {
    line-height: 34px;
    color: white;
    padding: 55px 55px;
    text-decoration: none;
    font-size: 19px;
}

nav ul li a:hover {
    color: sienna;

}

/*Fading animation when you reset the page*/
.title {
    animation: fadeIn ease 1.0s;
    -webkit-animation:fadeIn ease 1.0s;
    -moz-animation: fadeIn ease 1.0s;
    -o-animation: fadeIn ease 1.0s;
    -ms-animation: fadeIn ease 1.0s;
}

.title {
    opacity: 1;
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.3s ease-in-out;
}

section img {
    width: 100%;
    border-right: 100px;
    background-size: cover;
    background-position: center;
}

section img{
    animation: fadeIn ease 1.0s;
    -webkit-animation:fadeIn ease 1.0s;
    -moz-animation: fadeIn ease 1.0s;
    -o-animation: fadeIn ease 1.0s;
    -ms-animation: fadeIn ease 1.0s;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
@-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
@-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
@-ms-keyframes fadeIn {
    0% {
    opacity:0;
    }
}

/*Paragrah to take up space*/
h2 {
    color: white;
    text-align: center;
}

.firsttext {
    color: white;
    text-align: center;
}

.yellow {
    color: yellowgreen;
}

/*Flower image*/
.flower {
    text-align: right;
    padding-right: 6px;
}

.flower img {
    border-radius: 8px;
}

/*Text beside flower*/
.text {
    color: white;
    padding-right: 18px;
    float: left;
    width: 43%;
    padding: 20px;
}

.text p {
    color: white;
    padding-right: 18px;
}

/*Footer*/
.endingPanel {
    width: 100%;
    height: 750px;
    background-image: url("candle\ collection\ 1.jpg");
    background-size: 100% 900px;
    font-size: 27px;
    text-align:center;
    padding: 35px;
    color: white;
    font-style: italic;
    font-weight: lighter;
  }

  .endingPanel h4 {
    padding-top: 60px;
    padding-right: 50px;
  }

.icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icons a {
    padding: 10px;
    margin: 10px;
}

.icons a img {
    display: relative;
    width: 80px;
    height: 80px;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0));
    transition: 0.3s ease;
}

.icons img:hover {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}

/*Writing at the end of the footer*/
.footer h6 {
    color: white;
    word-spacing: 2px;
    text-align: center;
    margin-top: -0.9px;
    font-weight: lighter;
}

footer h6 a:hover {
    color: sienna;
}

.big {
    font-weight: bold;
}

.footer p {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.bold {
    font-weight: bolder;
    color: yellowgreen;
}
